<h1 class="current-category"><%= params[:category] %></h1>

<% if @products.count == 0 %>
  <h1>There are no products in that category</h1>

  <% else %>

  <div class="row">

      <% @products.each do |product| %>

        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="product-box">
            <a href="/products/<%= product.id %>">
              <%= image_tag product.product_img.url(:product_index), class: "product-img" %>
            </a>
              <div class="product-box-name">
                <%= product.name %>
              </div>
          </div>
        </div>

    <% end %>

  </div>
<% end %>
